.row.top_row
  .col-sm-6.user_att
    %h2= @user.email
    - if @user.avatar_file_name
      = image_tag @user.avatar.url(:thumb)
  .col-sm-6
    = link_to 'Logout', log_out_path, class: ['btn', 'btn-danger', 'logout_btn']
  .row
    = link_to 'Add Photo', new_user_photo_path(@user), class: ['btn', 'btn-success', 'add_photo_btn']
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    %br/
    = link_to 'Follow', user_follows_path(@user), class: ['btn', 'btn-info', 'follow_btn']
    %p Following: #{@user.follows.count}
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
%br/
.row
  - @photos.each  do |photo|
    .well.col-sm-4
      - if current_user.id == photo.user_id
        = link_to 'Delete', photo_path(photo.id), :method => :delete, class: ['btn', 'btn-danger', 'follow_btn']
      %br/
      =photo.user.email
      %br/
      = image_tag photo.title
      %br/
      = image_tag photo.image.url(:medium)
      = form_for @tag do |f|
        = f.hidden_field :photo_id, value: photo.id
        = f.collection_select :user_id, @users, :id, :email
        = f.submit "Tag User"
      - photo.tags.each do |tag|
        = tag.user.email
      %br/
      = form_for @comment, :url => photo_comments_path(photo.id) do |form|
        = form.label 'Write a comment'
        = form.text_field :comment
        = form.submit 'Comment'
      - photo.comments.each do |comment|
        %br/
        %strong #{comment.user.email} :
        = comment.comment
